@import '../style/colors.scss';

// @keyframes grow {
//     from {
//         height: 0;
//     }

//     to {
//         height: 70%;
//     }
// }

.About {
    padding: 0 15%;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: center;

    .description {
        border-left: 2px solid $Hover;
        padding-left: 2rem;
        color: $Color ;
        width: 50%;

        h1 {
            margin: 1rem 0;
            padding: 0;
            font-size: 5rem;
            line-height: 3rem;

            span {
                color: $Hover;
                margin-left: 3rem;
            }
        }

        p {
            margin: 0;
            font-size: large;

            span {
                color: aqua;
            }
        }
    }

    .profile {
        width: 45%;
        height: 70%;
        border-bottom: 3px $Hover;
        border-bottom-style: solid;
        background-image: url('../assets/images/profile.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        // animation: 'grow' 700ms;
    }
}