@import '../style/colors.scss';

@keyframes rotates {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.About {
    padding: 0 15%;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: center;

    .description {
        border-left: 2px solid $Hover;
        padding-left: 2rem;
        color: $Color ;
        width: 50%;

        h1 {
            margin: 1rem 0;
            padding: 0;
            font-size: 5rem;
            line-height: 3rem;

            span {
                color: $Secondary;
                margin-left: 3rem;
            }
        }

        p {
            margin: 0;
            font-size: large;

            span {
                img {
                    animation: rotates 3000ms infinite linear;
                    width: 20px;
                }

                color: aqua;
            }
        }
    }

    .profile {
        width: 45%;
        height: 70%;
        border-bottom: 3px $Hover;
        border-bottom-style: solid;
        background-image: url('../assets/images/profile.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        // animation: 'grow' 700ms;
    }
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 3000ms;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}