@import '../style/colors.scss';

@keyframes rotates {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.About {
    padding: 0 15%;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: center;

    @media (max-width: 1024px) {
        padding: 0rem 1rem;
        justify-content: space-evenly;
    }

    @media (max-width: 768px) {
        padding: 0rem 1rem;
        justify-content: space-evenly;
    }
    @media (max-width: 428px) {
        padding: 0rem 0 0 0;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .description {
        border-left: 2px solid $Hover;
        padding-left: 2rem;
        color: $Color ;
        width: 50%;

        @media (max-width: 1024px) {
            padding-left: 1rem;
        }
        @media (max-width: 768px) {
            width: 85%;
            padding-left: 1rem;
        }
        @media (max-width: 428px) {
            width: 85%;
            padding-left: 1rem;
            flex-direction: column;
            justify-content: space-around;
        }

        h1 {
            margin: 1rem 0;
            padding: 0;
            font-size: 5rem;
            line-height: 3rem;

            @media (max-width: 1024px) {
                font-size: 3rem;
                flex-direction: column;
                line-height: 1.5rem;
                margin: 1rem;
            }
            @media (max-width: 768px) {
                font-size: xx-large;
                flex-direction: column;
                line-height: 1.5rem;
                margin: 0.5rem;
            }
            @media (max-width: 428px) {
                font-size: x-large;
                flex-direction: column;
                line-height: 1.5rem;
                margin: 0.5rem;
            }

            span {
                color: $Secondary;
                margin-left: 3rem;

                @media (max-width: 428px) {
                    margin-left: 2rem;
                }
            }
        }

        p {
            margin: 0;
            font-size: large;
            @media (max-width: 1024px) {
                font-size: small;
            }
            @media (max-width: 768px) {
                font-size: small;
            }
            @media (max-width: 428px) {
                font-size: small;
            }

            span {
                img {
                    animation: rotates 3000ms infinite linear;
                    width: 20px;
                }

                color: aqua;
            }
        }
    }

    .profile {
        width: 45%;
        height: 70%;
        border-bottom: 3px $Hover;
        border-bottom-style: solid;
        background-image: url('../assets/images/profile.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        @media (max-width: 1024px) {
            width: 30%;
            height: 55%;
            flex-direction: column;
        }
        @media (max-width: 768px) {
            width: 60%;
            height: 50%;
            flex-direction: column;
        }
        @media (max-width: 428px) {
            width: 60%;
            height: 35%;
            flex-direction: column;
        }
    }
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1000ms;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}