@import '../style/colors.scss';

.Header {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    background-color: $Primary;
    color: $Color;
    box-shadow: 0 0 5px 1px #f1f1f153;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;

    .assets {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 45%;



        .links {

            &:first-child {
                background-color: $Secondary;
            }

            &:hover {
                background-color: $Tertiary;
            }

            &:last-child {
                height: 50%;
                border-radius: 5rem;
                margin-left: 2rem;
                border-bottom: 5px #f1f1f1;
                border-top: 1px solid rgba(255, 255, 255, 0.439);
                border-bottom-style: inset;
                background-color: #8d8d8d28;
                transform: translateY(0);
                transition: all 300ms;
                // border: 2px solid white;

                &:hover {
                    // background-color: #8d8d8d28;
                    transform: translateY(1px);
                    background-color: #30303028;
                    border-bottom: 3px #f1f1f1a6;
                    border-top: 1px solid rgba(255, 255, 255, 0.174);
                    border-bottom-style: inset;
                }
            }

            transition: background-color 300ms;
            color: $Color;
            text-decoration: none;
            width: 25%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}