@import '../style/colors.scss';

@keyframes border-light {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.Header {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    background-color: $Primary;
    color: $Color;
    // box-shadow: 0 0 5px 1px #f1f1f153;
    position: fixed;
    width: 70%;
    top: 0;
    left: 0;
    z-index: 8;

    .assets {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 45%;



        .links {

            // &:first-child {
            //     background-color: $Secondary;
            // }
                cursor: pointer;
            &:hover {
                background-color: $Secondary;
            }

            &:last-child {
                position: relative;
                height: 50%;
                border-radius: 5rem;
                margin-left: 2rem;
                transition: all 300ms;
                width: 25%;
                background-color: black;
                overflow: hidden;

                a {
                    text-decoration: none;
                    color: $Color;
                    inset: 2px;
                    position: absolute;
                    z-index: 4;
                    background-color: $Primary;
                    border-radius: 4rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 300ms;

                    &:hover {
                        background-color: #3d3d3d;
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: -55%;
                    left: -15%;
                    width: 50px;
                    height: 50px;
                    background: linear-gradient(60deg, transparent, $Secondary, $Secondary);
                    transform-origin: bottom right;
                    animation: border-light 6s linear infinite;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: -55%;
                    left: -2%;
                    width: 50px;
                    height: 50px;
                    background: linear-gradient(60deg, transparent, $Secondary, $Secondary);
                    transform-origin: bottom right;
                    animation: border-light 6s linear infinite;
                    animation-delay: -3s;
                }


                &:hover {
                    background-color: $Secondary;
                }
            }

            transition: background-color 300ms;
            color: $Color;
            text-decoration: none;
            width: 25%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}