@font-face {
  font-family: 'Hanken';
  src: url('../assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
}

:root {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: 'Hanken', sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0;
}

* {
  font-family: 'Hanken', sans-serif;
}