@import '../style/colors.scss';

.Project {
    padding: 0 15rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    .project-cards {
        width: 30%;
        height: 25rem;
        border: 2px solid $Color;
        border-radius: 16px;

        .bg {
            width: 95%;
            height: 50%;
        }
    }
}