@import '../style/colors.scss';
@keyframes levitate-left {
    0% {transform: translateX(0);}
    50% {transform: translateX(5px);}
    100% {transform: translateX(0);}
}
@keyframes levitate-right {
    0% {transform: translateX(0);}
    50% {transform: translateX(-5px);}
    100% {transform: translateX(0);}
}
@keyframes slide-left {
    from { transform: translateX(0);
    opacity: 1;}
    to { transform: translateX(-200%); opacity: 0;}
}
@keyframes slide-right {
    from { transform: translateX(0);}
    to { transform: translateX(200%);}
}
@keyframes fade-in  {
    from {opacity: 0; transform: translateX(50%);}
    to {opacity: 1;transform: translateX(0);}
}

.Skills {
    padding: 7rem 15rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    @media (max-width: 1024px) {
        padding: 7rem 1rem 15rem;
        height: fit-content;
        align-items: center;
    }
    @media (max-width: 768px) {
        padding: 7rem 1rem 15rem;
        height: fit-content;
        align-items: center;
    }
    @media (max-width: 428px) {
        padding: 7rem 1rem 7rem;
        height: fit-content;
    }

    h2 {
        font-size: xx-large;
        color: $Color;
        @media (max-width: 1024px) {
            font-size: large;
            width: 100%;
            padding-left: 1rem;
        }

        @media (max-width: 768px) {
            font-size: large;
            width: 100%;
            padding-left: 1rem;
        }
        @media (max-width: 428px) {
            font-size: large;
        }
    }

    #skill-container {
        box-shadow: 0 0px 15px 0 rgb(255, 255, 255, 0.1);
        width: 100%;
        height: 50vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        border: 2px solid rgb(255, 255, 255, 0.1);
        border-radius: 1rem;
        overflow: hidden;

        @media (max-width: 1024px) {
            width: 85%;
        }
        @media (max-width: 768px) {
            width: 85%;
        }

        @media (max-width: 428px) {
            padding: 0;
            height: 30vh;
            width: 99%;
            justify-content: space-between;
        }

        .placeholder {
            width: 2rem;
            @media (max-width: 428px) {
                width: 1rem;
            }
        }

        .scroll {
            font-size: xx-large;
            color: $Color;
            cursor: pointer;
            @media (max-width: 428px) {
                font-size: large;           
             }
        }
        .left {
            
            animation: levitate-left 1000ms infinite;
        }
        .right {
            
            animation: levitate-right 1000ms infinite;
        }

        .pie {
            padding: 0 3rem;
            position: relative;
            width: 8rem;
            height: 8rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            color: white;

            @media (max-width: 1024px) {
                width: 7rem;
                height: 7rem;    
                padding: 0 0.1rem;
            }
            @media (max-width: 768px) {
                width: 7rem;
                height: 7rem;    
                padding: 0 0.1rem;
            }
            @media (max-width: 428px) {
                width: 5rem;
                height: 5rem;    
                padding: 0 0.1rem;
            }

            .descri {
                position: absolute;
                top: 35%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                @media (max-width: 428px) {
                   font-size: small;
                }
            }
        }
    }

}
